.main {
    position: relative;
    top: 54px;
    left: 260px;
    width: calc(100% - 260px);
}

@media screen and (max-width: 875px) {
    .main {
        left: 54px;
        width: calc(100% - 54px);
    }
}