.player {
    height: 44px;
    width: 460px;
    display: flex;
}

/* .playerImg,.playstatus{
    border: 1px solid white;
} */
.playerImg {
    width: 44px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playstatus {
    flex-grow: 1;
    background-color: #4d4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Playsongdetails {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.playsong {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.seekContainer {
    padding: 0px 2px;
    display: flex;
    align-items: center;
}

.progresstime {
    font-size: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
}

.seek {
    width: 100%;
    height: 3px;
    margin: 0px 4px;
    background-color: #5f5f5f;
    position: relative;
}

.progressrange {
    position: absolute;
    top: -5.5px;
    left: 0px;
    width: 100%;
    cursor: pointer;
    z-index: 3;
    opacity: 0.1;
}

.progress {
    height: 3px;
    background-color: #b8b8b8;
    transition: 0.35s linear;
}

.seekdot {
    position: absolute;
    height: 7px;
    width: 3px;
    background-color: #b8b8b8;
    top: -2px;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.35s linear;
}

@media screen and (max-width: 1200px) {
    .player {
        width: 400px;
    }
}

@media screen and (max-width: 1100px) {
    .player {
        width: 350px;
    }
}

@media screen and (max-width: 1050px) {
    .player {
        width: calc(100% - 95px);
    }
}