.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* ------------------------ */
    min-height: calc(100vh - 160px);
    padding: 30px 40px;
    background-color: #1f1f1f;
    color: #ededed;
}

.album {
    min-height: calc(100vh - 160px);
    padding: 30px 40px;
    background-color: #1f1f1f;
    color: #ededed;
}

.artistSection {
    background-color: #2b2b2b;
    color: #ededed;
    padding: 40px;
}