.modalcontainer {
    /* border: 10px solid; */
    position: fixed;
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.changepassmodal {
    width: 50%;
    min-height: fit-content;
    /* height: 80%; */
    background-color: #1d1d1f;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #333336;
    cursor: pointer;
    color: #86868b;
}

.close:hover {
    color: #f5f5f7;
}

.logo {
    width: 10%;
    filter: invert(50%);
}

.heading {
    font-size: 28px;
    font-weight: 600;
}

.subheading {
    font-size: 21px;
    font-weight: 400;
    color: #86868b;
}

.changepassform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 60%;
    margin: 24px auto;
}

.changepassform input {
    color: #f5f5f7;
    border-color: #6e6e73;
    background-color: hsla(0, 0%, 100%, .04);
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    height: 46px;
    border-radius: 8px;
    border: 1px solid;
    padding: 0 16px;
}

.secureinfo {
    max-width: 60%;
    margin: 0 auto;
}

.secureinfo p {
    color: #d2d2d7;
    font-size: 12px;
    font-weight: 400;
}

.formerror {
    color: #fa586a;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.secureinfo span {
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    color: #fa586a;
}

.continue {
    width: 320px;
    font-weight: 600;
    height: 43px;
    border-radius: 8px;
    margin: 20px auto;
    background-color: #fa2338;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .signupmodal {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .changepassmodal {
        width: 90%;
    }

    .changepassform {
        max-width: 80%;
    }

    .secureinfo {
        max-width: 80%;
    }
}