.songs {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    height: 32px;
    color: #ffffffa3;
    padding-right: 18px;
}

.songs .song {
    width: 400px;
    font-size: 12px;
    height: fit-content;
    font-weight: 600;
}

.songs .artist {
    width: 290px;
    font-size: 12px;
    height: fit-content;
    font-weight: 600;
}

.songs .album {
    width: 300px;
    font-size: 12px;
    height: fit-content;
    font-weight: 600;
}

.songs .time {
    /* flex-grow: 1; */
    font-size: 12px;
    width: 91px;
    height: fit-content;
    font-weight: 600;
}

.artist::before {
    content: '';
    position: absolute;
    display: inline-block;
    border-radius: 0.5px;
    height: 16px;
    width: 1px;
    background-color: hsla(0, 0%, 100%, .1);
    transform: translateX(-12px);
}

.album::before {
    content: '';
    position: absolute;
    display: inline-block;
    border-radius: 0.5px;
    height: 16px;
    width: 1px;
    background-color: hsla(0, 0%, 100%, .1);
    transform: translateX(-12px);
}

.time::before {
    content: '';
    position: absolute;
    display: inline-block;
    border-radius: 0.5px;
    height: 16px;
    width: 1px;
    background-color: hsla(0, 0%, 100%, .1);
    transform: translateX(-12px);
}

@media screen and (max-width: 700px) {
    .songs .artist {
        display: none;
    }

    .songs .album {
        display: none;
    }
}