.songrow {
    /* border: 1px solid; */
    height: 54px;
    display: flex;
    align-items: center;
    padding-right: 18px;
    color: #ffffffa3;
    border-radius: 8px;
}

.songrow:hover {
    background-color: hsla(0, 0%, 100%, .06);
}

.song {
    display: flex;
    align-items: center;
    padding-left: 7px;
    gap: 12px;
}

.songdetails {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.songrow .song img {
    width: 40px;
    border-radius: 5px;
}

.songrow .song {
    width: 400px;
    font-size: 12px;
    height: fit-content;
    font-weight: 600;
    color: #ffffffeb;
}

.songrow .artist {
    width: 290px;
    font-size: 12px;
    height: fit-content;
    font-weight: 600;
}

.songrow .album {
    width: 300px;
    font-size: 12px;
    height: fit-content;
    font-weight: 600;
}

.songrow .time {
    /* flex-grow: 1; */
    font-size: 12px;
    width: 70px;
    height: fit-content;
    font-weight: 600;
}

.like {
    display: flex;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .songrow .artist {
        display: none;
    }

    .songrow .album {
        display: none;
    }
}