.player {
    height: 44px;
    width: 460px;
    display: flex;
}

/* .playerImg,.playstatus{
    border: 1px solid white;
} */
.playerImg {
    width: 44px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playstatus {
    flex-grow: 1;
    background-color: #4d4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .player {
        width: 400px;
    }
}
@media screen and (max-width: 1100px) {
    .player {
        width: 350px;
    }
}
@media screen and (max-width: 1050px) {
    .player {
        width: calc(100% - 95px);
    }
}