.subscribecard{
    border: 1px solid;
    background-color: #1d1d1f;
    border-color: #424245;
    color: #f5f5f7;
    border-radius: 18px;
    padding: 18px;
    max-width: 350px;
    min-height: 365px;
    text-align: left;
    text-transform: capitalize;
    margin: 0 auto;
    position: relative;
}
.subheading{
 display: flex;
 align-items: center;
 border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.subheading section h1{
    font-weight: 500;
    font-size: 17px;
}
.subheading section p{
    font-size: 12px;
    color: #86868b;
}
.cancle{
    font-size: 12px;
    color: #86868b;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 0;
}
.benifits{
    list-style: none;
}
.benifits li{
    font-size: 14px;
    margin: 10px 0;
}
.btncontainer{
    position: absolute;
    bottom: 18px;
}