.footer {
    /* border: 1px solid black; */
    height: 106px;
    background-color: #323232;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.27273;
    /* min-height: 88px; */
    padding: 14px 40px;
}

.country {
    margin-bottom: 20px;
    display: flex;
}

.us {
    color: #e5e5e5;
    cursor: pointer;
}

.us:hover {
    text-decoration: underline;
}

.country ul {
    display: flex;
}

.country ul li {
    list-style: none;
    color: #969696;
    cursor: pointer;
}

.country ul li:hover {
    text-decoration: underline;
}

.country ul li::before {
    content: '';
    height: 100%;
    margin: 0 10px;
    border-left: 1px solid #969696;
}

.copyright ul {
    display: flex;
    color: #e5e5e5;
}

.copyright p span {
    color: #e5e5e5;
}

.copyright ul li {
    list-style: none;
    color: #e5e5e5;
    cursor: pointer;
}

.cocopyrightuntry ul li:hover {
    text-decoration: underline;
}

.copyright ul li::before {
    content: '';
    height: 100%;
    margin: 0 10px;
    border-left: 1px solid #969696;
}

.copyright p {
    margin-bottom: 10px;
    color: #969696;
}

@media screen and (max-width: 620px) {
    .footer {
        height: fit-content;
        text-align: center;
    }

    .country {
        flex-direction: column;
    }

    .us {
        margin-bottom: 10px;
    }

    .country ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .country ul li::before {
        border: none;
    }
}

@media screen and (max-width: 580px) {
    .copyright ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .copyright ul li::before {
        border: none;
    }
}

@media screen and (max-width: 520px) {
    .country ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .copyright ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}