.card {
    /* border: 1px solid; */
    cursor: pointer;
    margin-right: 24px;
}

.card img {
    width: 220px;
    height: 220px;
    /* border: 1px solid; */
    border-radius: 10px;
}

.title {
    font-size: 12px;
    font-weight: 500;
    color: #ffffffeb;
    width: 100%;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discription {
    font-size: 12px;
    font-weight: 500;
    color: #ffffffa3;
    width: 100%;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title:hover,
.discription:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1260px) {
    .card img {
        width: 170px;
        height: 170px;
    }
}
@media screen and (max-width: 875px) {
    .card img {
        width: 150px;
        height: 150px;
    }
}